@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-onyx text-silver font-sans overflow-x-hidden antialiased;
    background-image: theme('backgroundImage.subtle-noise');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-white;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.3);
  }

  .glass-panel {
    @apply bg-onyx/40 backdrop-blur-md border border-white/5;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}